* {
    margin:0;
    padding: 0; 
    box-sizing: border-box
}

body{
    background-color: rgb(244, 248, 0);
}

header
{
    color: rgb(0, 81, 255);
}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 90%;
}

nav{
    display: flex;
    justify-content: space-between;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;

}

body{
    font: 400 1rem 'DM Sans', 'sans-serief';
}

h1{
    font: 700 1rem 'Poppins', 'sans-serif';
}